
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row border mb-5">
    
    <div class="col-2 align-content-center bg-light"#><a href="/Admin/Category/Upsert">Add Category<span class="ui-icon ui-icon-plus"></span></a></div>
</div>

<table id="category-table" class="display border">
    
</table>

@section Scripts{ 
    
    <script type="text/javascript" src="~/js/Category.js"></script>
}
