
@{
    ViewData["Title"] = "Index";
}

<div class=" align-content-center bg-primary text-light btn rounded-5" #>
    <a href="/Admin/Category/Upsert" class="text-light">
        Add Catergory
        <span class="ui-icon ui-icon-plus text-light"></span>
    </a>
</div>

<br />
<br />

<table id="category-table" class="display border">
    
</table>

@section Scripts{ 
    
    <script type="text/javascript" src="~/js/Category.js"></script>
}
