@model BookStore.Models.Product;
@{
    ViewData["Title"] = "Index";
}

<div class="row border mb-5">

    <div class="col-2 align-content-center bg-light" #><a href="/Admin/Product/Upsert">Add Product<span class="ui-icon ui-icon-plus"></span></a></div>
</div>

<table id="product-table" class="display">
</table>

@section Scripts{

    <script type="text/javascript" src="~/js/Product.js"></script>
}