@model BookStore.Models.Product;
@{
    ViewData["Title"] = "Index";
}

<div class=" align-content-center bg-primary text-light btn rounded-5" #>
    <a href="/Admin/Product/Upsert" class="text-light">Add Book
        <span class="ui-icon ui-icon-plus text-light"></span>
    </a>
</div>

<br />
<br />

<table id="product-table" class="display">
</table>

@section Scripts{

    <script type="text/javascript" src="~/js/Product.js"></script>
}